
.navbar-brand{
  margin-left: 25px;
    font-size:30px;
    font-weight:bold;
    font-family:rever;
    color:Black !important;
    font-family: "Space Grotesk";
}

.menu-itemslink{
    color: Black !important;
}
.host-btn{
    background-color: black;
    font-weight: bold;
    border-radius:0;
    color:white;
    width:140px;
}
.signin-btn{
    border-radius:0;
     border:2px solid black;
     color:black;
     width:120px;
     margin-right:  25px ;
}


.mobile-nav-icon{
    display: none;
}


/* Regular styles */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .mobile-nav-icon {
    display: none; /* Hide the icon by default */
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  /* Responsive styles for mobile view */
  @media (max-width: 965px) {
    
  }